

#left {
    background: red;
    
}

#right {
    background: blue;
    margin-top: -10%;
    margin-left: 20%;
}

#center {
    background: chartreuse;
    margin-top: -40%;
    margin-left: 10%;
}

#big {
    border: 10px solid black;
    width: 50%;
    margin-top: calc(-40% - 10px);
    margin-left: -10px;
}

.square{
    width: 30%;

}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

